:root {
    --white-50: hsl(210, 40%, 98%);
    --purple-600: hsl(246, 80%, 60%);
    
    --orange-300: hsl(15, 100%, 70%); 
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%); 

    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    
    --fs-400: 0.875rem;
    --fs-500: 1.125rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    --space-100: 0.5rem; 
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-600: 3rem;

    /* --radius-md: 1rem; */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--navy-950);
    color: var(--white-50);
    font-family: 'Rubik', sans-serif;
}


.card {
    background-color: var(--orange-300);
    border-radius: 1rem;
    overflow: hidden; /* Shows the orange part behind card*/
    position: relative;
    max-width: 300px;
}

.card-body {
    background-color: var(--navy-900);
    border-radius: 1rem;
    margin-top: 2rem; 
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hours-current {
    font-size: 3.5rem;
    font-weight: 300;
}

.hours-past {
    color: var(--purple-500);
}
