*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none; 
}

a {
  text-decoration: none; 
  cursor: pointer;
}

:root {
    --white-50: hsl(210, 40%, 98%);
    --purple-600: hsl(246, 80%, 60%);
    
    --orange-300: hsl(15, 100%, 70%); 
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%); 

    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);


    --fs-300: 0.9375rem;
    /* 15px */
    --fs-400: 1.125rem;
    /* 18px */
    --fs-600: 2.5rem;
    /* 40px */
    --fs-700: 3.5rem;
    /* 56px */

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    --space-100: 0.5rem; 
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-600: 3rem;

    --radius-md: 1rem;

    --icon-size: 3.625rem;    
    --icon-offset: var(--space-300);

    --bkgd: var(--navy-900);
}

body {
    background-color: var(--navy-950);
    color: var(--white-50);
    font-family: 'Rubik', sans-serif;

    /* display: grid;
    place-items: center; */

    display: flex;
    justify-content: center;
    align-items: center; 

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    min-height: 100dvh;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2rem); /* Dynamically change the gap */
    max-width: 375px;
    margin-inline: auto;
    padding: var(--space-300);
}

section.cards {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2rem);
}

.card {
    background-color: var(--orange-300);
    border-radius: var(--radius-md);
    overflow: hidden; /* Shows the orange part behind card*/
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-position: right var(--icon-offset) top -0.125rem;
}

.card-content {
    background-color: var(--bkgd);
    border-radius: var(--radius-md); 
    margin-top: var(--space-400); /* Controlling visibility of svgs, pushing down the content */
    padding: var(--space-300);
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card[data-category="work"] {
    background-color: var(--orange-300);
    background-image: url('../assets/images/icon-work.svg');
}

.card[data-category="play"] {
    background-color: var(--blue-300);
    background-image: url('../assets/images/icon-play.svg');
}

.card[data-category="study"] {
    background-color: var(--pink-400);
    background-image: url('../assets/images/icon-study.svg');
}

.card[data-category="exercise"] {
    background-color: var(--green-400);
    background-image: url('../assets/images/icon-exercise.svg');
}

.card[data-category="social"] {
    background-color: var(--purple-700);
    background-image: url('../assets/images/icon-social.svg');
}

.card[data-category="self-care"] {
    background-color: var(--yellow-300);
    background-image: url('../assets/images/icon-self-care.svg');
}

.hours-current {
    font-size: var(--fs-700);
    font-weight: var(--fw-light);
}

.hours-past {
    color: var(--purple-500);
}

.user {
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    background-color: var(--bkgd);
}

.user-info {
    background-color: var(--purple-600);
    border-radius: var(--radius-md);
    padding: var(--space-300);
    display: flex;
    align-items: center;
    gap: var(--space-200);
}

.user img {
    border-radius: 50%;
    outline: 3px solid var(--white-50);
    aspect-ratio: 1 / 1;
    width: clamp(3rem, 6vw, 5rem);
}

.user h1 {
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
    line-height: 1.5;
}

span.subtitle {
    color: var(--navy-200);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.period-nav {
    background-color: var(--bkgd);
    padding: var(--space-300);
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    gap: var(--space-300);
}

.period-nav button {
    background: none;
    border: none;
    font-family: inherit;
    color: var(--purple-500);
    font-size: var(--fs-400);
    cursor: pointer;
}

.period-nav button.is-active {
    color: var(--white-50);
}

.options-btn {
    background: none;
    border: none;
    color: var(--purple-500);
    cursor: pointer;
}

h2 {
    font-size: var(--fs-500);
}


@media (min-width: 768px) {

    .dashboard {
        max-width: 1110px; 
        display: grid;
        grid-template-columns: 255px 1fr;
        
        gap: var(--space-300);
        
        width: calc(100% - 2rem * 2);
    }

    .user {
        grid-column: 1;
    }

    .user-info {
        flex-direction: column;
        gap: var(--space-300);
        align-items: flex-start;
        flex-grow: 1;
    }

    .user-info h1 {
        font-size: var(--fs-600);
    }

    .period-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-300);
    }

    section.cards {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--space-300);
        align-content: start;
    }
}